<div class="footer">
  <div class="p-grid links-div">
    <div class="p-col-12 p-md-12 p-lg-4">
      <div class="section-1">
        <h4>ABOUT</h4>
        <p style=" margin-top: 10px; ">
          <span style="color:#045cf0">Buy lottery tickets online</span> to the biggest lotteries in the world! Purchase your official entries to the draws listed below for your chance to win amazing jackpots and other lottery prizes. Receive automatic results and winning notifications – your prizes are paid to you commission-free when you win! Buying tickets online at theLotter is simple, safe, and secure. After all, we’ve been the world’s leading lottery ticket purchasing service since 2002. Buy your tickets now and good luck in the upcoming lottery draws!
        </p>
      </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6 p-d-flex  ">
    <div class="p-col-6 p-md-6 p-lg-6 ">
      <div class="section-2">
        <span class="custom-link">QUICK LINKS</span>
        <ul>
          <li><a>
            <i class="pi pi-chevron-right arrow-icon"></i>About
          </a></li>
          <li><a>
            <i class="pi pi-chevron-right arrow-icon"></i>FAQ
          </a></li>
          <li><a>
            <i class="pi pi-chevron-right arrow-icon"></i>Prizes
          </a></li>
          <li><a>
            <i class="pi pi-chevron-right arrow-icon"></i>Contact
          </a></li>
        </ul>
      </div>
    </div>
    <div class="p-col-6 p-md-6 p-lg-6">
      <div class="section-2">
        <span class="custom-link">RESOURCES</span>
        <ul>
          <li><a>
            <i class="pi pi-chevron-right arrow-icon"></i>Blog
          </a></li>
          <li><a>
            <i class="pi pi-chevron-right arrow-icon"></i>Evens
          </a></li>
          <li><a>
            <i class="pi pi-chevron-right arrow-icon"></i>News
          </a></li>
        </ul>
      </div>
    </div>
    <div class="p-col-6 p-md-6 p-lg-6">
      <div class="section-2">
        <span class="custom-link">LEGAL INFO</span>
        <ul>
          <li><a>
            <i class="pi pi-chevron-right arrow-icon"></i>Risk Warnings
          </a></li>
          <li><a>
            <i class="pi pi-chevron-right arrow-icon"></i>Privacy Notice
          </a></li>
          <li><a>
            <i class="pi pi-chevron-right arrow-icon"></i>Security
          </a></li>
          <li><a>
            <i class="pi pi-chevron-right arrow-icon"></i>Terms of Service
          </a></li><li><a>
            <i class="pi pi-chevron-right arrow-icon"></i>Complaints Policy
          </a></li>
        </ul>
      </div>
    </div>
    </div>
   
  </div>
  <hr>
  <div class="p-grid bottom-section">
    <div class="p-col-6 p-md-4 p-lg-4">
      <p>
        Copyright © 2021 All Rights Reserved by <span style="color:#045cf0">Silver Star</span>.
      </p>
    </div>
    <div class="p-col-6 p-md-6 p-lg-8 p-d-flex p-jc-center pt-3">
      <a class="icon"><i class="pi pi-facebook"></i></a>
      <a class="icon"><i class="pi pi-twitter"></i></a>
        <a class="icon"><i class="pi pi-globe"></i></a>
    </div>
  </div>
</div>