<div class="footer">
  <div class="p-grid links-div">
    <div class="p-col-12 p-md-12 p-lg-4">
      <div class="section-1">
        <h4>ABOUT</h4>
        <p style=" margin-top: 10px; ">
          Scanfcode.com CODE WANTS TO BE SIMPLE is an initiative to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm
        </p>
      </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6 p-d-flex ">
    <div class="p-col-6 p-md-6 p-lg-6 ">
      <div class="section-1">
        <h4>QUICK LINKS</h4>
        <ul>
          <li><a>
            <i class="pi pi-chevron-right arrow-icon"></i>About
          </a></li>
          <li><a>
            <i class="pi pi-chevron-right arrow-icon"></i>FAQ
          </a></li>
          <li><a>
            <i class="pi pi-chevron-right arrow-icon"></i>Prizes
          </a></li>
          <li><a>
            <i class="pi pi-chevron-right arrow-icon"></i>Contact
          </a></li>
        </ul>
      </div>
    </div>
    <div class="p-col-6 p-md-6 p-lg-6">
      <div class="section-1">
        <h4>Resources</h4>
        <ul>
          <li><a>
            <i class="pi pi-chevron-right arrow-icon"></i>Blog
          </a></li>
          <li><a>
            <i class="pi pi-chevron-right arrow-icon"></i>Evens
          </a></li>
          <li><a>
            <i class="pi pi-chevron-right arrow-icon"></i>News
          </a></li>
        </ul>
      </div>
    </div>
    </div>
   
  </div>
  <hr>
  <div class="p-grid bottom-section">
    <div class="p-col-6 p-md-4 p-lg-4">
      <p>
        Copyright © 2021 All Rights Reserved by Silver Star.
      </p>
    </div>
    <div class="p-col-6 p-md-6 p-lg-8 p-d-flex p-jc-center">
      <a class="icon"><i class="pi pi-facebook"></i></a>
      <a class="icon"><i class="pi pi-twitter"></i></a>
        <a class="icon"><i class="pi pi-globe"></i></a>
    </div>
  </div>
</div>