@import '../variables.scss';

nav {
 font-family: $regular-font;
 img {
    filter: invert(100%) sepia(0%) saturate(7490%) hue-rotate(348deg) brightness(102%) contrast(103%);
 }
}

.menu-p {
    padding-left: 20px;
    padding-right: 20px;
}