<!-- <p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="https://seeklogo.com/images/S/Silver_Star-logo-1B7D18321E-seeklogo.com.png" height="40" class="p-mr-2" alt="brand logo">
      </ng-template>
    <ng-template pTemplate="end">
        <button type="button" class="p-button-secondary" pRipple pButton label="SignIn" icon="pi pi-fw pi-user" routerLink="signin"></button>
    </ng-template>
</p-menubar> -->

<!-- <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-menu navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <div class="navbar-end">
            <form class="form-inline w-auto">
                <button class="btn btn-outline-success" type="button" routerLink="signin">SignIn</button>
            </form>
        </div>
    </div>
</nav> -->
<!-- <div class="navbar is-dark">
    <div class="navbar-brand">
        <a class="navbar-item">Calendar</a>
    </div>
    <div class="navbar-menu">

        <div class="navbar-end">
            <label class="navbar-item mar-right">{{iHeader.welcomeUserName}}</label>
            <a class="navbar-item" routerLink="/login">Logout</a>
        </div>
    </div>
</div> -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="https://seeklogo.com/images/S/Silver_Star-logo-1B7D18321E-seeklogo.com.png" height="40" class="p-mr-2" alt="brand logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto pl-5">
            <li class="nav-item menu-p active">
                <a class="nav-link" >Home</a>
            </li>
            <li class="nav-item menu-p">
                <a class="nav-link" >News</a>
            </li>
            <li class="nav-item menu-p">
                <a class="nav-link" >Number Directory</a>
            </li>
            <li class="nav-item menu-p">
                <a class="nav-link" >Results</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="userName">
                <span *ngIf="userInfo">Welcome {{userInfo.type}} !</span>
                <span *ngIf="userInfo">{{userInfo.firstName}} {{userInfo.lastName}} </span>
            </div>
            <i *ngIf="userInfo" class="pi pi-power-off logOut" (click)="logOut()"></i>
            <button *ngIf="!userInfo" class="btn-o" routerLink="/">SignIn</button>
            <!-- <button class="btn btn-outline-primary my-2 my-sm-0" type="button" routerLink="signin">SignIn</button> -->
        </form>
    </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav> -->