@import '../variables.scss';

nav {
 font-family: $regular-font;
 img {
    filter: invert(100%) sepia(0%) saturate(7490%) hue-rotate(348deg) brightness(102%) contrast(103%);
 }
}

.menu-p {
    padding-left: 20px;
    padding-right: 20px;
}

.btn-o{
    border-radius: 20px;
    border: 1px solid #f9314b;
    color: #f9314b;
    font-size: 12px;
    background-color: #252f5a;
    font-weight: bold;
    padding: 6px 23px;
    font-family: $bold-font;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
}

.userName{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #f9314b;
}

.logOut{
    padding-left: 1rem;
    color: white;
    cursor: pointer;
}

.logOut:hover{
    color: #f9314b;
    cursor: pointer;
}