@import '../../variables.scss';

.main-container {
    font-family: $regular-font;
    background: white;
    .profile-body{
        margin-top: 20px;
    }
}

.cus-info-label{
    font-size: 16px;
    font-weight: bold;
}

.cus-label{
    font-size: 12px;
    padding: 0;
    margin: 0;

}