<div class="container main-container w-100 h-100">
    <div class="row container-header">
        <div class="col-6 d-none">
            <label>Game Ends</label>
        </div>
        <div class="col-6 d-none">
            <label>Change Password</label>
        </div>
    </div>
    <div class="row profile-body">
        <div class="col-4">
            <label class="">First Name</label><br>
            <label class="">ABC</label>
        </div>
        <div class="col-4">
            <label class="">Last Name</label><br>
            <label class="">ABC</label>
        </div>
        <div class="col-4">
            <label class="">Email</label><br>
            <label class="">ABC</label>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label class="">Region</label><br>
            <label class="">ABC</label>
        </div>
        <div class="col-4">
            <label class="">Currency</label><br>
            <label class="">ABC</label>
        </div>
        <div class="col-4">
            <label class="">Commision/Discount Rate</label><br>
            <label class="">ABC</label>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label class="">Contact Number</label><br>
            <label class="">ABC</label>
        </div>
        <div class="col-4">
            <label class="">Language</label><br>
            <label class="">ABC</label>
        </div>
    </div>
</div>